# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
.venv/
env/
venv/

# Ignore other common files
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3

# Ignore compiled files
*.o
*.out
*.class
